body {
	margin:0px;
	background: url("bg.jpg");
}

#content {

	margin-left: auto;
	margin-right: auto;
	width: 1000px;

}

.grid {
	background: #111111;
	width: 600px;
	height: 600px;
	border-collapse: collapse;
	position: relative;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
}

.grid tr {
	border:1px solid #0af4fd;
}

.grid td {
	border:1px solid #0af4fd;
}

#player {
	background:url("player.png") ;
	background-size:60px auto;
	width:60px;
	height:60px;
	position:absolute;
	top: 100px;
	display: none;
}

.beer {
	background:url("beer.png") ;
	background-size:60px auto;
	width:60px;
	height:60px;
	position:absolute;
}


.wall {
	background:url("wall.png") ;
	background-size:60px auto;
	width:60px;
	height:60px;
	position:absolute;
}


.boss {
	background:url("boss.png") ;
	background-size:60px auto;
	width:60px;
	height:60px;
	position:absolute;
}


.cops {
	background:url("cops.gif") ;
	background-size:60px 60px;
	width:60px;
	height:60px;
	position:absolute;
}

.wc {
	background:url("wc.png") ;
	background-size:60px auto;
	width:60px;
	height:60px;
	position:absolute;
}

.code {
	background:url("code.png") ;
	background-size:60px auto;
	width:60px;
	height:60px;
	position:absolute;
}

.coffee {
	background:url("coffee.png") ;
	background-size:60px auto;
	width:60px;
	height:60px;
	position:absolute;
}

#score {
	color:white;
	text-align:center;
	font-size:30px;
}

#alcool {
	color:white;
	text-align:center;
	font-size:30px;
}

#code {
	color:white;
	text-align:center;
	font-size:30px;
}

#leftpanel {
	color:white;
	background: rgba(0, 0, 0, 0.6);
	width:200px;
	height: 600px;
	position: absolute;
}

.choose_player {
	cursor: pointer;
	border: 1px solid rgba(0, 0, 0, 0);
}

.choose_player:hover{
	cursor: pointer;
	border: 1px dashed white;
}

#message {
	font-weight: bold;
	border: 2px dashed red;
	border-radius: 5px;
	width: 150px;
	text-align:center;
}

#regles {
	position:absolute;
	top: 10px;
	left: 10px;
	background: black;
	color: white;
	border: 1px solid gray;
	width: 600px;
	height: 600px;
	top: 100px;
}

#regles:hover {
	cursor:pointer;
}

@-webkit-keyframes blinker {  
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}

#regles span {
	color: red;
	margin-left: 25%;
	font-size: 30px;
	-webkit-animation-name: blinker;  
	-webkit-animation-iteration-count: infinite;  
	-webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
	-webkit-animation-duration: 1s;
}


#facebook {
	position:absolute;
	width: 600px;
	height: 100px;
	top: 710px;
	color:white;
}

#pseudo {
	color:white;
	text-align:center;
	font-size:30px;
	cursor: pointer;
}

.jokes {
	position: fixed;
	width: 600px;
	color: lightgray;
	background: rgba(0, 0, 0, 0.6);
	height: 20px;
	font-size:12px;
	overflow: hidden;
	font-style: italic;
}
