body {
	margin:0px;
	background: url("bg.jpg");
}

#content {

	margin-left: auto;
	margin-right: auto;
	width: 1000px;

}

.grid {
	background: #111111;
	width: 600px;
	height: 600px;
	border-collapse: collapse;
	position: relative;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
}

.grid tr {
	border:1px solid #0af4fd;
}

.grid td {
	border:1px solid #0af4fd;
}

#player {
	background:url("player.png") ;
	background-size:60px auto;
	width:60px;
	height:60px;
	position:absolute;
	top: 100px;
	display: none;
}

.beer {
	background:url("beer.png") ;
	background-size:60px auto;
	width:60px;
	height:60px;
	position:absolute;
}

.wc {
	background:url("wc.png") ;
	background-size:60px auto;
	width:60px;
	height:60px;
	position:absolute;
}

#score {
	color:white;
	text-align:center;
	font-size:30px;
}

#alcool {
	color:white;
	text-align:center;
	font-size:30px;
}

#leftpanel {
	color:white;
	background: rgba(0, 0, 0, 0.6);
	width:200px;
	height: 600px;
	position: absolute;
}

.choose_player {
	cursor: pointer;
	border: 1px solid rgba(0, 0, 0, 0);
}

.choose_player:hover{
	cursor: pointer;
	border: 1px dashed white;
}
